body{
    background-color: #2e2e2e;
    color: rgb(5, 205, 205);
    text-align: center;
}
h1{
    font-size: 1.5rem;
}
main{
    display: flex;
    flex-direction: column;align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #101010;
    border-radius: 7px;

}

button{
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}
button:hover{
    transform: scale(1.1);
    filter: brightness(60%);
}
.win{color: rgb(10, 216, 10);}
.lose{color: rgb(240, 4, 4);}
.draw{color: rgb(194, 194, 194);}
